<header class="products-header">
  <h1 class="header-txt">products</h1>
</header>

<h1 class="header-txt txt-cntr my-4">Syrups</h1>
<section class="products-display my-4">
  <div class="product-card">
    <div class="product-image"></div>
    <div class="product-name sub-header-txt my-2">syrups</div>
    <button class="sec-btn">oder now</button>
  </div>
</section>

<h1 class="header-txt txt-cntr my-4">mixes</h1>
<section class="products-display my-4">
  <div class="product-card">
    <div class="product-image"></div>
    <div class="product-name sub-header-txt my-2">syrups</div>
    <button class="sec-btn">oder now</button>
  </div>
</section>
