<header class="products-header">
  <h1 class="header-txt">products</h1>
</header>

<h1 class="sub-header-txt txt-cntr mt-4">Syrups</h1>
<section class="products-display">
  <p class="highlight-txt txt-cntr my-2">coming soon...</p>
</section>

<h1 class="sub-header-txt txt-cntr mt-4">mixes</h1>
<section class="products-display">
  <p class="highlight-txt txt-cntr my-2">coming soon...</p>
</section>

<h1 class="sub-header-txt txt-cntr mt-4">Branded water</h1>
<section class="products-display">
  <p class="highlight-txt txt-cntr my-2">coming soon...</p>
</section>
