.products-header {
  width: 100vw;
  display: grid;
  height: 30svh;
  color: var(--main-clr);
  place-items: center;
  background-position: bottom center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.485), black 80%),
    url("../../../assets/images/kiethWithHappyClient.jpg");
}

.products-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .product-card {
    box-shadow: 1px 1px 5px color-mix(in lch, var(--dark-clr), #fff);
    padding: 1rem;
    width: 30vw;
    max-width: 200px;
    .product-image {
      width: 100%;
      aspect-ratio: 1;
    }
  }
}
