<section class="services my-4">
  <p id="services" class="header-txt mb-4">Our services</p>

  <div class="cards-container">
    @for(service of servicesOferred; track service.name){

    <div class="card">
      <div class="card-header sub-header-txt mb-2">{{ service.name }}</div>
      <div class="card-body">
        <p class="mb-2">
          {{ service.discription }}
        </p>
        <hr />
        <p class="mt-2 mb-1">{{ service.duration }}</p>
        <p class="mb-2">{{ service.cost }}&nbsp;ZAR</p>
        <button class="sec-btn">book now</button>
      </div>
    </div>
    }
  </div>

  <p class="sub-header-txt my-4">we also offer</p>

  <div class="other-offers">
    <div class="offer">
      <div class="sub-header-txt">bar equipment</div>
      <div class="normal-txt">shakes, tongs, jiggers...</div>
      <p class="main-txt">
        checkout more&nbsp;<i class="lni lni-arrow-right-circle"></i>
      </p>
    </div>

    <div class="offer">
      <div class="sub-header-txt">Produsts</div>
      <div class="normal-txt">syrups and mixes</div>
      <p class="main-txt">
        checkout more&nbsp;<i class="lni lni-arrow-right-circle"></i>
      </p>
    </div>
  </div>
</section>
