<section class="about-us my-4">
  <p class="header-txt mb-2 txt-cntr">About us</p>

  <div class="about-info mb-4">
    <p class="normal-txt mb-2">
      Just Rustic Services is a full-service Event Planning Company dedicated to
      creating unforgettable experiences for a wide range of events. Our
      experienced team combines creativity with expertise to deliver exceptional
      service, transforming venues and providing your guests with truly unique
      experiences. Contact us so we can start working together to plan your
      perfect event.
    </p>
  </div>
</section>
