<section class="testinonials">
  <h1 class="header-txt my-4 txt-cntr">testimonials</h1>
  <div class="testimonials-container mb-4">
    <div class="testimonial">
      <div class="testimonial-body">
        <div class="testimonial-name highlight-txt mb-1">Linél Malan-Storm</div>
        <div class="testimony">
          <q class="normal-txt"
            >We used Just Rustic to host a corporate event at our office in
            Illovo. We ere blown away about their level of staff, attention to
            detail and willingness to go the extra mile where needed. We
            subsequently started using them for our wedding venue’s staffing
            solution which raised our level of service substantially, allowing
            us to have peace of mind that our clients are receiving the best
            possible service. <br /><br />
            We use Just Rustic’s services for our bar management, floor
            management, waiter service and recently started using their chef as
            well. They are friendly and easy to work with. I can highly
            recommend their services –
            <span class="highlight-txt">thank you Keith and Team.</span></q
          >
        </div>
      </div>
    </div>
  </div>
</section>
