<section class="about-us my-4">
  <p class="header-txt mb-2 txt-cntr">About us</p>

  <div class="about-info mb-4">
    <p class="normal-txt mb-2">
      At Just Rustic Beverages, we believe every celebration deserves an unforgettable experience. We are a full-service mobile bar,  non-alcoholic craft beverage manufacturer, event planning, and staffing company dedicated to bringing creativity, professionalism, and unforgettable energy to every occasion. From intimate gatherings and weddings to corporate functions, festivals, and private celebrations, our experienced team combines passion, innovation, and hospitality expertise to transform ordinary events into extraordinary moments.
    </p>

    <p class="normal-txt mb-2">

    Known for our unique beverage experiences and exceptional service, we specialize in handcrafted drinks, stylish mobile bar setups, professional event staffing, and seamless event coordination tailored to your vision. Our goal is simple — to create an atmosphere where every guest feels welcomed, every detail feels intentional, and every sip becomes part of a lasting memory.
    </p>

    <p class="normal-txt mb-2">
      Whether you are planning an elegant corporate event, a lively celebration, or a sophisticated alcohol-free experience, Just Rustic Beverages is your trusted partner in bringing your event to life with style, flavor, and authenticity. Contact us today and let’s start creating your perfect event together.
    </p>
  </div>
</section>
