<footer class="bottom-nav">
  <div class="footer-info">
    <img class="mb-3" src="../../../assets/rusticLogoColor.svg" alt="logo" />

    <div class="contact-info">
      <p class="sub-header-txt mb-2">Just rustic services</p>

      <p class="normal-txt">
        <i class="lni lni-phone"></i>&nbsp;+27 60 846 4338
      </p>
      <p class="normal-txt">
        <i class="lni lni-phone"></i>&nbsp;+27 68 002 0601
      </p>
      <p class="normal-txt mb-2">
        <i class="lni lni-envelope"></i>&nbsp;justrusticservices&#64;gmail.com
      </p>

      <address class="highlight-txt mb-4">
        <i class="lni lni-map-marker"></i>&nbsp;69 Countesses Avenue Windsor
        East,<br />
        Randburg 2194,<br />
        Johannesburg,<br />
        South Africa
      </address>
    </div>
  </div>

  <div class="copyright-info">
    <p class="highlight-txt">&#64;just Rustic 2024</p>
    <p class="normal-txt">built by <span>Munya</span></p>
  </div>
</footer>
