<header class="main-page-header">
  <div class="header-info">
    <h1 class="header-txt mtin mb-2">just rustic services</h1>

    <p class="normal-txt mb-4">event planing and staffing company</p>

    <button class="main-btn">contact us</button>
  </div>
</header>

<app-sevirces></app-sevirces>

<section class="about-us my-4">
  <p class="header-txt mb-2 txt-cntr">About us</p>

  <div class="about-info mb-4">
    <p class="normal-txt mb-2">
      Just Rustic Services is a full-service Event Planning Company dedicated to
      creating unforgettable experiences for a wide range of events. Our
      experienced team combines creativity with expertise to deliver exceptional
      service, transforming venues and providing your guests with truly unique
      experiences. Contact us so we can start working together to plan your
      perfect event.
    </p>
    <button class="main-btn">read more</button>
  </div>

  <div class="work-gallarey scroller">
    <div class="scroller-inner">
      <img
        src="/assets/WhatsApp Image 2024-06-04 at 22.07.06_843e3692.jpg"
        alt=""
      />

      <img
        src="/assets/WhatsApp Image 2024-06-04 at 22.07.19_f4135e1a.jpg"
        alt=""
      />

      <img
        src="/assets/WhatsApp Image 2024-06-04 at 22.07.43_af0be7a5.jpg"
        alt=""
      />

      <img
        src="/assets/WhatsApp Image 2024-06-04 at 22.07.44_babf9ede.jpg"
        alt=""
      />
    </div>
  </div>
  <p class="main-btn main-txt ml-4 mt-2">
    view gallarey&nbsp;<i class="lni lni-arrow-right-circle"></i>
  </p>
</section>
