.services {
  text-align: center;
  margin-inline: auto;
  width: 90vw;
  .cards-container {
    margin-inline: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    place-content: center;
    justify-content: center;
  }
  .card {
    display: grid;
    grid-template-rows: 3rem 1fr;
    border-radius: 2px;
    width: min(80vw, 380px);
    padding: 2rem 1rem;
    box-shadow: 1px 1px 5px color-mix(in lch, var(--dark-clr), #fff);
    .card-body {
       display: grid;
      grid-template-rows:1fr 2px .5fr;
      text-align: start;
    }
  }

  @media screen and (max-width: 500px) {
    .card {
      max-width: unset;
      width: 90%;
    }
  }
}

.other-offers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  //   align-items: center;

  .offer {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.485), black 50%),
      url("/assets/images/barbeforeStarting.jpg");
    background-size: contain;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 300px;
    min-width: 250px;
    width: 45%;
    color: var(--white-clr);
    padding: 2rem;
    text-align: left;

    &:nth-child(1) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.485),
          black 50%
        ),
        url("/assets/products/Hawthorn\ Strainer\ Copper\ 20cm-UB.jpg");
    }
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    .offer {
      max-width: unset;
      width: 100%;
    }
  }
}

.see-more{
  width: 90vw;
  max-width: 800px;
  margin-inline: auto;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: black;
  color: var(--white-clr);

  h2{
    color: var(--primary-clr, #daa520);
  }

  p{
    margin: 0 auto;
    max-width: 50ch;
    text-align: start;
  }
}