<section #services class="services my-4">
  <p id="services" class="header-txt mb-4">Our services</p>

  <div class="cards-container mb-4">
    <div class="card">
      <div class="card-header sub-header-txt mb-1">mobile bar services</div>
      <div class="card-body">
        <p class="normal-txt mb-2">
          mobile bar services, featuring professionally trained mixologists and bartenders
        </p>
        <hr />

        <p class="highlight-txt my-2">contact us for pricing</p>
        <button class="sec-btn" (click)="bookService('mobile bar services')">
          book now
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header sub-header-txt mb-1">Events Planning</div>
      <div class="card-body">
        <p class="normal-txt mb-2">
          for wedding, coporate function, or private celebrations
        </p>
        <hr />

        <p class="highlight-txt my-2">contact us for pricing</p>
        <button class="sec-btn" (click)="bookService('Events Planning')">
          book now
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header sub-header-txt mb-1">Masterclasses</div>
      <div class="card-body">
        <p class="normal-txt mb-2">
          Exceptional cocktail and spirits masterclasses
        </p>

        <hr />

        <p class="highlight-txt my-2">contact us for pricing</p>
        <button class="sec-btn" (click)="bookService('Masterclasses')">
          book now
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-header sub-header-txt mb-1">Brand Activations & Promotions</div>
      <div class="card-body">
        <p class="normal-txt mb-2">
          Connecting brands with their target audiences in meaningful and impactful ways
        </p>
        <hr />

        <p class="highlight-txt my-2">contact us for pricing</p>
        <button class="sec-btn" (click)="bookService('Brand Activations & Promotions')">
          book now
        </button>
      </div>
    </div>
  
  </div>

  <div class="mb-4">
      <div class="see-more mb-3">
        <h2 class="mb-2">Masterclasses</h2>
        <p>
          At Just Rustic Beverages, we understand the power of brand activations in creating memorable and engaging experiences that leave a lasting impression. Our approach is centered on crafting unique, immersive alcoholic and non-alcoholic beverage experiences that connect brands with their target audiences in meaningful and impactful ways.
        </p>
          <br>
        <p>
          Whether for a product launch, promotional campaign, corporate event, or experiential marketing initiative, we design tailor-made cocktails and mocktails that align seamlessly with your brand’s identity, values, and objectives. By combining creativity, innovation, and strategic execution, our team develops beverage experiences that not only capture attention but also drive audience engagement, brand loyalty, and lasting connections.
        </p>
      </div>

      <div class="see-more">
        <h2 class="mb-2">Brand Activations & Promotions</h2>
          <p>At Just Rustic Beverages, we offer exceptional cocktail and spirits masterclasses designed to create memorable and engaging experiences that leave a lasting impression on every guest. Our sessions are perfect for corporate team-building events, family gatherings, private celebrations, and brand experiences.</p>
          <br/>
          <p>Our approach is centered on crafting unique and immersive alcoholic and non-alcoholic beverage experiences while sharing valuable industry knowledge in an interactive and enjoyable way. We believe in connecting guests through hands-on learning, creativity, and unforgettable moments.</p>
          <br/>
          <p> Whether you are hosting a product launch, promotional campaign, corporate event, or experiential marketing initiative, our team is ready to deliver a masterclass experience to remember. Join us and develop beverage-making skills that will impress your friends, family, and colleagues while creating lasting memories through the art of mixology.</p>
        </div>

  </div>

  <p class="sub-header-txt my-4">we also offer</p>

  <div class="other-offers">
    <div class="offer">
      <div class="sub-header-txt">bar equipment</div>
      <div class="normal-txt mb-2">shakes, tongs, jiggers...</div>
      <p class="main-txt link-txt" routerLink="/equipment">
        checkout more&nbsp;<i class="lni lni-arrow-right-circle"></i>
      </p>
    </div>

    <div class="offer">
      <div class="sub-header-txt">Produsts</div>
      <div class="normal-txt mb-2">syrups and mixes</div>
      <p class="main-txt link-txt" routerLink="/products">
        checkout more&nbsp;<i class="lni lni-arrow-right-circle"></i>
      </p>
    </div>
  </div>
</section>
