.products-header {
  width: 100vw;
  display: grid;
  height: 30svh;
  color: var(--main-clr);
  place-items: center;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.485), black 50%),
    url("/assets/images/makingCocktail2.jpg");
}

.products-display {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .images-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .image {
      width: 200px;
    }
    img {
      box-shadow: 1px 1px 5px color-mix(in lch, var(--dark-clr), #fff);
      width: 100%;
      aspect-ratio: 1;
      &:hover {
        box-shadow: 1px 1px 5px color-mix(in lch, var(--main-clr) 90%, #fff);
      }
    }

    @media screen and (max-width: 400px) {
      .image {
        width: 80vw;
      }
    }
  }
}
